@import url("https://fonts.googleapis.com/css2?family=Anton&family=Kanit:wght@200;300&display=swap");

@font-face {
  font-family: Monomon;
  src: url("fonts/SOV_monomon.ttf");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.app-layout {
  @apply w-screen min-h-screen bg-app bg-cover font-anton;
}

.tasks-layout {
  @apply w-screen min-h-screen flex justify-center items-center text-white text-6xl bg-app-tasks bg-cover
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}
