.mars {
  position: absolute;
  top: -100px;
  left: 10px;
  z-index: 1;
}
.mars img {
  @apply w-20 md:w-64;
}

.pluto {
  position: absolute;
  top: 200px;
  left: 25%;
  z-index: 1;
}
.pluto img {
  @apply w-16 md:w-40;
}

.neptune {
  position: absolute;
  top: 150px;
  left: 50%;
  z-index: 1;
}

.neptune img {
  @apply w-16 md:w-40;
}

.jupiter {
  position: absolute;
  top: -100px;
  left: 75%;
  z-index: 1;
}

.jupiter img {
  @apply w-28 md:w-64;
}

.saturns {
  position: absolute;
  top: -320px;
  left: 60%;
  z-index: 1;
}

.saturns img {
  @apply w-28 md:w-72;
}
.mercury {
  position: absolute;
  top: -300px;
  left: 10%;
  z-index: 1;
}

.mercury img {
  @apply w-16 md:w-28;
}

.rocketJet {
  @apply relative lg:-left-16 -left-5 lg:-top-96;
}

.star {
  @apply z-0 origin-center w-5 h-5 absolute md:block hidden;
}

.star01 {
  @apply top-[-150px] left-[350px] animate-star1;
}

.star02 {
  @apply top-[50px] right-[450px] animate-star1;
}

.star03 {
  @apply top-[1230px] left-[480px] animate-star1;
}

.star04 {
  @apply top-[1475px] right-[400px] animate-star1;
}

.star05 {
  @apply top-[300px] left-[700px] animate-star2;
}

.star06 {
  @apply top-[800px] right-[600px] animate-star2;
}

.star07 {
  @apply top-[1450px] left-[250px] animate-star2;
}

.star08 {
  @apply top-[480px] left-[300px] animate-star3;
}

.star09 {
  @apply top-[620px] left-[530px] animate-star3;
}

.star10 {
  @apply top-[1400px] right-[180px] animate-star3;
}

@media only screen and (max-width: 768px) {
  .mars {
    top: -50px;
  }
  .jupiter {
    left: 70%;
    top: -150px;
  }
  .pluto {
    top: 80px;
    left: 30%;
  }
  .neptune {
    top: -280px;
  }
  .saturns {
    top: 20px;
  }
  .mercury {
    top: -250px;
  }
}

@media (min-width: 1024px) {
  .lg\:-top-100 {
    top: -500px;
  }
}
