.mars {
  position: relative;
  top: -560px;
  left: 10px;
  z-index: 1;
}
.mars img {
  @apply w-20 md:w-52;
}

.pluto {
  position: relative;
  top: -520px;
  left: 25%;
  z-index: 1;
}
.pluto img {
  @apply w-16 md:w-40;
}

.neptune {
  position: relative;
  top: -880px;
  left: 50%;
  z-index: 1;
}

.neptune img {
  @apply w-16 md:w-40;
}

.jupiter {
  position: relative;
  top: -350px;
  left: 80%;
  z-index: 1;
}

.jupiter img {
  @apply w-28 md:w-72;
}

.saturns {
  position: relative;
  top: -320px;
  left: 60%;
  z-index: 1;
}

.saturns img {
  @apply w-28 md:w-72;
}
.mercury {
  position: relative;
  top: -420px;
  left: 10%;
  z-index: 1;
}

.mercury img {
  @apply w-16 md:w-28;
}

@media only screen and (max-width: 768px) {
  .mars {
    top: -350px;
  }
  .jupiter {
    left: 70%;
    top: -200px;
  }
  .pluto {
    top: -300px;
    left: 20%;
  }
  .neptune {
    top: -280px;
  }
  .saturns {
    top: -200px;
  }
  .mercury {
    top: -320px;
  }
}
