:root {
  --bg-slate: #2D374C;
  --bg-slate-dark: #252F45;
  --bg-slate-darker: #111733;
  --bg-slate-lighter: #3a4459;

  --white: #FFFFFF;
  --gray: #888888;
  --red: #F33B13;
}

.wrapper {
  @apply w-full min-h-screen flex;
  @apply flex-col lg:flex-row;
  @apply space-x-0 lg:space-x-3;
  @apply space-y-3 lg:space-y-0;

  background: url("../pictures/bgSubmit.png");
  padding: 10px;
  padding-top: 120px;
}

/*-----------------*
 * Problem         *
 *-----------------*/

/* Wrapper */
.problem {
  @apply basis-2/3;
  @apply flex flex-col;
  @apply space-y-3;

  font-family: Monomon;
  color: var(--white);
}

.problem-tab {
  @apply flex flex-row rounded-t-lg;
  background-color: var(--bg-slate-lighter);
}
.problem-tab-button {
  @apply px-3 py-1 rounded-t-lg;
  @apply text-sm;
  user-select: none;
}
.problem-tab-button:focus { outline: none; }
.problem-tab-button:hover {
  cursor: pointer;
  background-color: var(--bg-slate-lighter);
}
.problem-tab-button[aria-selected="true"] {
  background-color: var(--bg-slate);
  cursor: auto;
}

.problem-contents {
  @apply rounded-b-lg;
  @apply px-5 py-2 pb-4;
  @apply overflow-y-visible md:overflow-y-scroll;
  @apply h-full md:h-[calc(650px-28px)];
  background-color: var(--bg-slate);
}
.problem-content > hr {
  @apply my-4 border-slate-600;
}

.problem-content > div > code {
  @apply bg-slate-900 p-2 overflow-x-scroll;
  @apply border border-slate-500 whitespace-pre;
  @apply text-slate-400;
  @apply text-sm;
  font-family: Monomon;
  display: block;
}
.problem-content > div > code > div {
  @apply flex flex-row;
}
.problem-content > div > code > div > p {
  @apply ml-2;
  user-select: all;
}
.problem-content > div > code > div > p:hover {
  cursor: pointer;
}
.problem-content > div > code > div > h1 {
  @apply text-slate-100;
  user-select: none;
}

.problem-content > h1 {
  @apply mt-3;
  @apply text-lg;
}
.problem-content > h1 > span {
  @apply text-slate-400 align-middle;
  @apply text-sm;
}
.problem-content > h1 > div {
  @apply text-slate-400 mt-1;
  @apply text-xs;
}
.problem-content > h1 > div > a {
  color: white;
}
.problem-content > h1 > div > a:hover {
  text-decoration: underline;
  text-underline-offset: 1px;
}
.problem-content > h1 > div > span {
  color: var(--red);
}
.problem-content h2 {
  @apply my-3;
  @apply text-sm;
}
.problem-content > p {
  @apply text-slate-300;
  @apply text-sm;
}

.none {
  @apply text-sm;
  @apply flex justify-center items-center;
  height: 400px;

  color: rgba(255, 255, 255, 0.5);
}

/* Text Editor */
.editor {
  @apply rounded-lg;
  padding-top: 28px;
  background: var(--bg-slate-lighter);
  height: 650px;
  overflow: hidden;
}
.cm-scroller {
  width: 100%;
  overflow-x: auto !important;
}

.cm-editor {
  @apply w-full lg:w-[40vw];
  background: var(--bg-slate);
}

.cm-line {
  font-family: Monomon !important;
  font-size: 16px !important;
}
.cm-gutters {
  font-family: Monomon !important;
  font-size: 15px !important;
  background-color: var(--bg-slate-dark) !important;
}
.cm-activeLine {
  background: #384359 !important;
}
.cm-activeLineGutter {
  background: transparent !important;
}


/* Submit Button */
.submit {
  @apply mt-2 mr-2 flex justify-end;
}
.submit > button {
  @apply rounded-lg py-1 px-8;
  @apply text-sm;
  font-family: Monomon;
  color: #FFFFFF;
  background: #EB2A00;
  font-weight: bold;
}
.submit > button:hover {
  background: #B82100;
}
