@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Kdam Thmor Pro", sans-serif;
  -ms-overflow-style: none;
  letter-spacing: 0.07em;
}
body {
  background-color: #0b0f22;
}

.input-form {
  @apply text-black p-4 w-full bg-gray-300 rounded-r-lg border transition-colors focus:bg-white focus:outline-none focus:shadow-xl;
}
.icon-login-form {
  @apply p-4 rounded-l-lg text-white text-3xl;
}
::-webkit-scrollbar {
  display: none;
}
.table :where(thead, tfoot) :where(th, td) {
  --tw-bg-opacity: 1;
  background-color: #644CF9;
  font-size: 0.75rem /* 12px */;
  line-height: 1rem /* 16px */;
  font-weight: 700;
  text-transform: uppercase;
}

